body{width:90%;margin: 0 auto;min-width:600px;max-width:2000px}
body{
    background-color: rgb(230, 229, 173);
}

form{
    background-color: rgb(192, 226, 195);
    width: 25%;
    color: rgb(8, 8, 8);
    margin: 20px auto;
    padding: 20px;
    box-sizing: content-box;
}

form h1{
    text-align: center;
}

form input#todo-input{
    box-sizing: border-box;
    width: 75%;
    height: 25px;
    padding-left: 25px;
}

button{
    height: 20px;
    width: 10%;
    background-color: red;
    color: white;
    border-style: none;
}

ul {
    list-style: none;
    list-style-position: outside;
    margin: 0;
    padding: 25px 0;
}
li{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.delete-item{
    background-color: rgb(255, 38, 0);
    border-radius: 5px;
    border:none;
    color: black;
    width: 50px;
    text-align: center;
    
}

.delete-item:hover{
    background-color: orange;
    width: 55px;
}